<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Condições Climáticas de {{title}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
</head>
<body>
    <h1>Condições Climáticas de {{title}}</h1>
    <p>{{status}} e {{temp}}&deg;C</p>
    <p>Parece {{feels_like}}&deg;C</p>
    <form action="/weather">
        <input type="text" name="city" id="city" placeholder="Escolha uma cidade">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>